importing csv file in google colab and opening it using pandas

In [ ]:
import pandas as pd
df=pd.read_csv('/content/excel/mini_project_data_csv.csv')
df.head()

,Order ID,Shiprocket Created At,Channel,Status,Channel SKU,Master SKU,Product Name,Product Quantity,Channel Created At,Customer Name,...,First_Pickup_Scheduled_Date,Buyer's Lat/long,Order Type,Order Tags,Invoice Date,NDR 1 Attempt Date,NDR 2 Attempt Date,NDR 3 Attempt Date,Bridge Call Recording,Hub Address
0,20220401-10330042,"1 Apr 22, 11:25 AM",CUSTOM,RTO DELIVERED,Lysorus+Miticide,Lysorus+Miticide,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,2.0,"1 Apr 22, 10:33 AM",suresh SJ,...,01-04-2022 11:25,NaN,NaN,NaN,01-04-2022 11:25,07-04-2022 15:49,08-04-2022 16:34,15-04-2022 09:04,NaN,Kunthunath Derasar Near Braham Society Vacheli...
1,20220401-00435058,"1 Apr 22, 11:31 AM",CUSTOM,DELIVERED,Lysorus+Miticide,Lysorus+Miticide,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,1.0,"1 Apr 22, 12:43 AM",Debasish patra,...,01-04-2022 11:31,NaN,NaN,NaN,01-04-2022 11:31,NaN,NaN,NaN,NaN,NaN
2,20220401-10441096,"1 Apr 22, 11:35 AM",CUSTOM,DELIVERED,Lysorus+Miticide,Lysorus+Miticide,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,2.0,"1 Apr 22, 10:44 AM",suresh NB#T,...,01-04-2022 11:35,NaN,NaN,NaN,01-04-2022 11:35,04-04-2022 12:51,NaN,NaN,NaN,"Navyog Road, Near Ariya Niwas Guest House, Lan..."
3,20220401-10595519,"1 Apr 22, 11:37 AM",CUSTOM,DELIVERED,Lysorus+Miticide,Lysorus+Miticide,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,1.0,"1 Apr 22, 10:59 AM",Ashok Matho,...,01-04-2022 11:37,NaN,NaN,NaN,01-04-2022 11:37,NaN,NaN,NaN,NaN,NaN
4,20220401-08320496,"1 Apr 22, 11:38 AM",CUSTOM,DELIVERED,Lysorus+Miticide,Lysorus+Miticide,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,1.0,"1 Apr 22, 08:32 AM",mahesh mahesh,...,01-04-2022 11:38,NaN,NaN,NaN,01-04-2022 11:38,05-04-2022 13:37,NaN,NaN,NaN,NaN

describing our dataset

In [ ]:
df.describe()

,Product Quantity,Customer Mobile,Address Pincode,Product Price,Order Total,Tax,Tax %,Discount Value,Product HSN,Weight (KG),Charged Weight,Pickup Location ID,COD Payble Amount,Remitted Amount,CRF ID,COD Charges,Freight Total Amount,Shipping Charges,Order Tags,Bridge Call Recording
count,6500.000000,6.501000e+03,6501.000000,6500.000000,6501.000000,6500.000000,6500.000000,6500.0,2.728000e+03,6501.000000,5824.00000,6.491000e+03,6501.000000,6501.000000,2.848000e+03,6501.000000,6501.000000,6501.000000,0.0,0.0
mean,1.344615,8.717845e+09,436645.613444,748.716395,1772.823104,47.600091,7.124615,0.0,4.468853e+06,1.300467,1.38947,1.964729e+06,1772.823104,568.427934,4.490577e+06,46.019448,188.237240,4.388556,NaN,NaN
std,1.104207,1.107760e+09,176421.988427,1335.945835,3521.290569,50.822165,4.728627,0.0,1.051695e+07,3.107007,3.20418,5.016706e+04,3521.290569,993.537106,1.518266e+05,23.720599,136.746659,13.351142,NaN,NaN
min,1.000000,7.499323e+08,110008.000000,1.000000,1.000000,0.000000,0.000000,0.0,3.101000e+05,0.040000,0.10800,1.958218e+06,1.000000,0.000000,4.141846e+06,0.000000,0.000000,0.000000,NaN,NaN
25%,1.000000,7.972697e+09,302021.000000,233.050000,610.000000,23.100000,5.000000,0.0,3.101000e+05,0.430000,0.45000,1.958218e+06,610.000000,0.000000,4.375748e+06,48.700000,112.300000,0.000000,NaN,NaN
50%,1.000000,9.016593e+09,441210.000000,461.900000,1200.000000,35.710000,5.000000,0.0,3.101000e+05,0.580000,0.65000,1.958218e+06,1200.000000,0.000000,4.539377e+06,48.700000,158.400000,0.000000,NaN,NaN
75%,1.000000,9.691028e+09,515561.000000,1142.860000,1725.000000,57.140000,12.000000,0.0,3.101000e+05,1.020000,1.10000,1.958218e+06,1725.000000,970.000000,4.616250e+06,53.600000,226.560000,0.000000,NaN,NaN
max,30.000000,9.998873e+09,855107.000000,43680.000000,96024.000000,864.920000,18.000000,0.0,3.105901e+07,36.660000,36.66000,2.765391e+06,96024.000000,14460.000000,4.690581e+06,390.420000,1426.580000,45.000000,NaN,NaN

slicing data with useful column

In [ ]:
data_sliced=df.loc[0:6501,['Order ID', 'Product Quantity', 'Address State','Freight Total Amount','Product Name','Pickup Address Name']]
data_sliced.head()

,Order ID,Product Quantity,Address State,Freight Total Amount,Product Name,Pickup Address Name
0,20220401-10330042,2.0,Gujarat,250.60,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement
1,20220401-00435058,1.0,Odisha,108.55,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement
2,20220401-10441096,2.0,Gujarat,181.04,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement
3,20220401-10595519,1.0,Jharkhand,108.55,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement
4,20220401-08320496,1.0,Rajasthan,108.55,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement

count of every delivery per state

In [ ]:
data_sliced['Address State'].value_counts()

Uttar Pradesh             1130
Madhya Pradesh            1062
Maharashtra               1042
Karnataka                  635
Gujarat                    455
Rajasthan                  359
Chhattisgarh               304
Bihar                      244
Andhra Pradesh             230
Haryana                    228
West Bengal                155
Punjab                     138
Jharkhand                  105
Assam                      104
Telangana                   84
Odisha                      72
Himachal Pradesh            37
Tripura                     25
Tamil Nadu                  25
Arunachal Pradesh           20
Kerala                      16
Uttarakhand                 11
Delhi                        9
Jammu and Kashmir            4
Nagaland                     4
Dadra and Nagar Haveli       1
Name: Address State, dtype: int64

count of product delivered

In [ ]:
data_sliced['Product Name'].value_counts()

Katra Fertilizers Lysorus1Nos.Miticide250MlAnti-Virus  BacteriaThrips and Mites    1781
Lysorus Anti-Virus and Bacteria Virucide for Virus Control and Prevention           735
Imerbela Organic Red Heat Pain Relief Oil20Ml-For Instant Pain Relief               360
Boron Ethanolamine 10-Nano Technology based flowering booster100Ml                  342
NPK 19:19:19                                                                        268
                                                                                   ...
pain relief oil                                                                       1
Calcium 11 Micronutrient Fertilizer 250mlx40nos.                                      1
Ascorbic Acid Vitamin-C 0.4 BioStimulant 100mlx50nos.                                 1
Acid thickner 100gms                                                                  1
Shipping                                                                              1
Name: Product Name, Length: 259, dtype: int64

count of product from warehouses

In [ ]:
data_sliced['Pickup Address Name'].value_counts()

Office 5th                              5322
Chetak Center Basement                  1085
Factory                                   74
B 47 noida sec 64up-201301                 3
Mumbai Office                              2
garg fertilizer and seeds store            1
Taher Ahmed  19, Valliammal road  Op       1
SRI Vinayaka Enterprises                   1
Samrat Ashok Krashi Seva Kendra            1
Expo Essential oils                        1
Name: Pickup Address Name, dtype: int64

amount of blanks

In [ ]:
count_nan = data_sliced['Product Name'].isna().sum()
print(count_nan)
count_nan_freight = data_sliced['Freight Total Amount'].isna().sum()
print(count_nan_freight)

1
0

In [ ]:
data_condition_katra=data_sliced.loc[(df['Product Name'] == 'Katra Fertilizers Lysorus1Nos.Miticide250MlAnti-Virus  BacteriaThrips and Mites') & (df['Product Quantity'] == 1)]
data_condition_katra

,Order ID,Product Quantity,Address State,Freight Total Amount,Product Name,Pickup Address Name
1,20220401-00435058,1.0,Odisha,108.55,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement
3,20220401-10595519,1.0,Jharkhand,108.55,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement
4,20220401-08320496,1.0,Rajasthan,108.55,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement
6,20220401-10405068,1.0,Uttar Pradesh,108.55,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement
23,20220401-11293868,1.0,Gujarat,108.55,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Chetak Center Basement
...,...,...,...,...,...,...
6470,20220801-15592619,1.0,Gujarat,112.30,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Office 5th
6474,20220801-10220249,1.0,Madhya Pradesh,187.95,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Office 5th
6487,20220801-17065879,1.0,Gujarat,112.30,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Office 5th
6488,20220801-17051095,1.0,Karnataka,112.30,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Office 5th
6500,20220801-17355581,1.0,Karnataka,112.30,Katra Fertilizers Lysorus1Nos.Miticide250MlAnt...,Office 5th

In [ ]:
data_condition_lysorus=data_sliced.loc[(df['Product Name'] == 'Lysorus Anti-Virus and Bacteria Virucide for Virus Control and Prevention') & (df['Product Quantity'] == 1)]
data_condition_lysorus

,Order ID,Product Quantity,Address State,Freight Total Amount,Product Name,Pickup Address Name
5,20220401-10571322,1.0,Haryana,231.00,Lysorus Anti-Virus and Bacteria Virucide for V...,Chetak Center Basement
45,20220402-11065753,1.0,Tripura,301.60,Lysorus Anti-Virus and Bacteria Virucide for V...,Chetak Center Basement
66,20220402-16393319,1.0,Gujarat,108.55,Lysorus Anti-Virus and Bacteria Virucide for V...,Chetak Center Basement
75,20220404-11031632,1.0,Punjab,231.00,Lysorus Anti-Virus and Bacteria Virucide for V...,Chetak Center Basement
91,20220402-05471427,1.0,Chhattisgarh,108.55,Lysorus Anti-Virus and Bacteria Virucide for V...,Chetak Center Basement
...,...,...,...,...,...,...
6452,20220801-08252636,1.0,Bihar,170.30,Lysorus Anti-Virus and Bacteria Virucide for V...,Office 5th
6455,20220801-15305453,1.0,Maharashtra,112.30,Lysorus Anti-Virus and Bacteria Virucide for V...,Office 5th
6457,20220731-10014685,1.0,Madhya Pradesh,88.20,Lysorus Anti-Virus and Bacteria Virucide for V...,Office 5th
6486,20220801-16485179,1.0,Haryana,269.37,Lysorus Anti-Virus and Bacteria Virucide for V...,Office 5th
6498,20220801-15135930,1.0,Madhya Pradesh,220.81,Lysorus Anti-Virus and Bacteria Virucide for V...,Office 5th

putting condition and shortening the data according to our work

In [ ]:
data_condition_red_oil=data_sliced.loc[(df['Product Name'] == 'Imerbela Organic Red Heat Pain Relief Oil20Ml-For Instant Pain Relief') & (df['Product Quantity'] == 1)]
data_condition_red_oil

,Order ID,Product Quantity,Address State,Freight Total Amount,Product Name,Pickup Address Name
242,20220408-05485146,1.0,Madhya Pradesh,0.00,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,Chetak Center Basement
286,20220409-16145857,1.0,Madhya Pradesh,84.15,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,Chetak Center Basement
318,20220409-10542156,1.0,Madhya Pradesh,81.45,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,Chetak Center Basement
323,20220411-12102465,1.0,Chhattisgarh,108.55,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,Chetak Center Basement
331,20220411-11294811,1.0,Karnataka,83.99,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,Chetak Center Basement
...,...,...,...,...,...,...
6214,R_20220725-11551962,1.0,Madhya Pradesh,84.08,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,NaN
6260,20220729-07191724,1.0,Madhya Pradesh,88.20,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,Office 5th
6402,20220731-20504792,1.0,Rajasthan,112.30,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,Office 5th
6467,20220801-14560271,1.0,Maharashtra,112.30,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,Office 5th
6468,20220801-15080731,1.0,Maharashtra,112.30,Imerbela Organic Red Heat Pain Relief Oil20Ml-...,Office 5th

mean of freight amount as per warehouse and delivery state

In [ ]:
df_groups_new_red = data_condition_red_oil.groupby(['Pickup Address Name','Address State']).mean()
df_groups_new_red

                                          Product Quantity  \
Pickup Address Name    Address State
Chetak Center Basement Bihar                           1.0
                       Chhattisgarh                    1.0
                       Gujarat                         1.0
                       Karnataka                       1.0
                       Madhya Pradesh                  1.0
                       Maharashtra                     1.0
                       Telangana                       1.0
                       Tripura                         1.0
                       Uttar Pradesh                   1.0
Office 5th             Andhra Pradesh                  1.0
                       Assam                           1.0
                       Bihar                           1.0
                       Chhattisgarh                    1.0
                       Delhi                           1.0
                       Gujarat                         1.0
                       Haryana                         1.0
                       Himachal Pradesh                1.0
                       Jammu and Kashmir               1.0
                       Jharkhand                       1.0
                       Karnataka                       1.0
                       Kerala                          1.0
                       Madhya Pradesh                  1.0
                       Maharashtra                     1.0
                       Punjab                          1.0
                       Rajasthan                       1.0
                       Tamil Nadu                      1.0
                       Telangana                       1.0
                       Uttar Pradesh                   1.0
                       West Bengal                     1.0

                                          Freight Total Amount
Pickup Address Name    Address State
Chetak Center Basement Bihar                        224.600000
                       Chhattisgarh                 108.550000
                       Gujarat                      162.840000
                       Karnataka                     27.996667
                       Madhya Pradesh                89.225161
                       Maharashtra                  176.390000
                       Telangana                    127.153333
                       Tripura                      273.070000
                       Uttar Pradesh                138.265000
Office 5th             Andhra Pradesh               119.750000
                       Assam                        124.400000
                       Bihar                        116.025000
                       Chhattisgarh                 117.666667
                       Delhi                        119.750000
                       Gujarat                      118.103333
                       Haryana                      118.500000
                       Himachal Pradesh             124.400000
                       Jammu and Kashmir            151.400000
                       Jharkhand                    112.300000
                       Karnataka                    127.300000
                       Kerala                       112.300000
                       Madhya Pradesh                90.473714
                       Maharashtra                  133.400000
                       Punjab                       112.300000
                       Rajasthan                    149.262857
                       Tamil Nadu                   112.300000
                       Telangana                     56.150000
                       Uttar Pradesh                129.522222
                       West Bengal                  119.776667

putting freight value in seperate variables and changing them into integer

In [ ]:
df_groups_new_red['Freight Total Amount']
#chetak center
bihar_chetak=int(df_groups_new_red['Freight Total Amount'][0])
chhatisgarh_chetak=int(df_groups_new_red['Freight Total Amount'][1])
gujrat_chetak=int(df_groups_new_red['Freight Total Amount'][2])
karnataka_chetak=int(df_groups_new_red['Freight Total Amount'][3])
madhya_chetak=int(df_groups_new_red['Freight Total Amount'][4])
maharashtra_chetak=int(df_groups_new_red['Freight Total Amount'][5])
telangana_chetak=int(df_groups_new_red['Freight Total Amount'][6])
uttar_chetak=int(df_groups_new_red['Freight Total Amount'][8])
#office
bihar_office=int(df_groups_new_red['Freight Total Amount'][11])
chhatisgarh_office=int(df_groups_new_red['Freight Total Amount'][12])
gujrat_office=int(df_groups_new_red['Freight Total Amount'][14])
karnataka_office=int(df_groups_new_red['Freight Total Amount'][18])
madhya_office=int(df_groups_new_red['Freight Total Amount'][21])
maharashtra_office=int(df_groups_new_red['Freight Total Amount'][22])
telangana_office=int(df_groups_new_red['Freight Total Amount'][26])
uttar_office=int(df_groups_new_red['Freight Total Amount'][27])

defining values for solving transportation problem

In [ ]:
# Creates a list of all the supply nodes
warehouses = ["Office", "Factory"]#supply

# Creates a dictionary for the number of units of supply for each supply node
supply = {"Office": 10000, "Factory": 20000}#demand

# Creates a list of all demand nodes
projects = ["bihar", "chhatisgarh", "gujrat","karnataka","madhya","maharashtra","telegnana","utar"]

# Creates a dictionary for the number of units of demand for each demand node
demand = {
    "bihar": 3750,
    "chhatisgarh": 3750,
    "gujrat": 3750,
    "karnataka": 3750,
    "madhya": 3750,
    "maharashtra": 3750,
    "telegnana": 3750,
    "utar": 3750,
}

# Creates a list of costs of each transportation path
costs = {  # Projects
    'Factory':{"bihar":bihar_office,"chhatisgarh":chhatisgarh_office,"gujrat":gujrat_office,"karnataka":karnataka_office,"madhya":madhya_office,"maharashtra":maharashtra_office,"telegnana":telangana_office,"utar":uttar_office},  # A   warehouses
    'Office':{"bihar":bihar_chetak,"chhatisgarh":chhatisgarh_chetak,"gujrat":gujrat_chetak,"karnataka":karnataka_chetak,"madhya":madhya_chetak,"maharashtra":maharashtra_chetak,"telegnana":telangana_chetak,"utar":uttar_chetak}  # B
}

# The cost data is made into a dictionary

istalling pulp which is a predefined library in python for solving transportation problem

In [ ]:
!pip install PuLP

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PuLP
  Downloading PuLP-2.6.0-py3-none-any.whl (14.2 MB)
     |████████████████████████████████| 14.2 MB 2.0 MB/s
Installing collected packages: PuLP
Successfully installed PuLP-2.6.0

setting problem

In [ ]:
from pulp import *
prob = LpProblem("Transportation", LpMinimize)

In [ ]:
routes =[(i,j) for i in warehouses for j in projects]

defining decision variable

In [ ]:
amount_vars = LpVariable.dicts("Amountship",(warehouses,projects),0)

defining objective function

In [ ]:
prob += lpSum(amount_vars[i][j]*costs[i][j] for (i,j) in routes)

constraint

In [ ]:
for j in projects:
    prob += lpSum(amount_vars[i][j] for i in warehouses) == demand[j]

for i in warehouses:
    prob += lpSum(amount_vars[i][j] for j in projects) <= supply[i]

to check if the problem is solved or not

In [ ]:
prob.solve()

1

check if optimal solution is attained or not

In [ ]:
print("Status:", LpStatus[prob.status])

Status: Optimal

value in every cell of transportation table

In [ ]:
for v in prob.variables():
    if v.varValue > 0:
        print(v.name, "=", v.varValue)

Amountship_Factory_bihar = 3750.0
Amountship_Factory_gujrat = 3750.0
Amountship_Factory_madhya = 1250.0
Amountship_Factory_maharashtra = 3750.0
Amountship_Factory_telegnana = 3750.0
Amountship_Factory_utar = 3750.0
Amountship_Office_chhatisgarh = 3750.0
Amountship_Office_karnataka = 3750.0
Amountship_Office_madhya = 2500.0

final answer

In [ ]:
print("for red oil = ", value(prob.objective))

for red oil =  2911250.0